{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}

<h2>Our Staff</h2><br>
{% for staff_member in staff_members %}
    <img src="{{ staff_member.photo.url }}" alt="{{ staff_member.name }}">
    <h3>{{ staff_member.name }}</h3>
    <h4>{{ staff_member.job_title }}</h4>
    <p>{{ staff_member.bio }}</p>

{% endfor %}

<h2>Our Stores</h2>
{% for store_location in store_locations %}

    <img src="{{ store_location.photo.url }}" alt="{{ store_location.name }}">
    <h3>{{ store_location.name }}</h3>
    <p>{{ store_location.address }}</p>
    <p>{{ store_location.phone }}</p>

{% endfor %}   
    
{%endblock%}
