{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
            <section class="callout jumbotron text-center">
                <h1 class="jumbotron-header"><strong>What are you waiting for!</strong></h1>
                <hr class="block-divider">
                <div class="my-5">
                    <h4>
                        <a href="" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Shop the Latest</a>
                    </h4>
                </div>
            </section>
        </div>
    </div>
    <!-- /.callout -->
</div>

{% endblock %}
