<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-md-none">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
            </div>
        </li>

         <!-- New In link -->
         <li class="nav-item">
            <a href="{% url 'products' %}?category=new_in" class="logo-font font-weight-bold nav-link text-black mr-5" id="new_in-link">New In</a>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="jewellery-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Jewellery
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="jewellery-link">
                <a href="{% url 'products' %}?category=necklaces,earrings,bracelets,watches" class="dropdown-item">All Jewellery</a>
                <a href="{% url 'products' %}?category=necklaces" class="dropdown-item">Necklaces</a>
                <a href="{% url 'products' %}?category=earrings" class="dropdown-item">Earrings</a>
                <a href="{% url 'products' %}?category=bracelets" class="dropdown-item">Bracelets</a>
                <a href="{% url 'products' %}?category=watches" class="dropdown-item">Watches</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="bags-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Bags
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="bags-link">
                <a href="{% url 'products' %}?category=handbags,purses,wallets,laptop_bags" class="dropdown-item">All Bags</a>
                <a href="{% url 'products' %}?category=handbags_purses" class="dropdown-item">Handbags &amp; Purses</a>
                <a href="{% url 'products' %}?category=wallets" class="dropdown-item">Wallets</a>
                <a href="{% url 'products' %}?category=laptop_bags" class="dropdown-item">Laptop Bags</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="accessories-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Accessories
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="accessories-link">
                <a href="{% url 'products' %}?category=sunglasses,belts,luxury_pens,belts" class="dropdown-item">All Accessories</a>
                <a href="{% url 'products' %}?category=sunglasses" class="dropdown-item">Sunglasses</a>
                <a href="{% url 'products' %}?category=belts" class="dropdown-item">Belts</a>
                <a href="{% url 'products' %}?category=luxury_pens" class="dropdown-item">Luxury Pens</a>   
            </div>
        </li>

        <!-- Fragrance link -->
        <li class="nav-item">
            <a href="{% url 'products' %}?category=fragrance" class="logo-font font-weight-bold nav-link text-black mr-5" id="fragrance-link">Fragrance</a>
        </li>
      
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Special Offers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="{% url 'products' %}?category=deals,clearance" class="dropdown-item">All Special Offers</a>
                <a href="{% url 'products' %}?category=deals" class="dropdown-item">Deals</a>
                <a href="{% url 'products' %}?category=clearance" class="dropdown-item">Clearance</a>
            </div>
        </li>
    </ul>
</div>